.container 
  = link_to sanitize("&larr; Back to quote")

  .header
    %h1 Edit date
  = turbo_frame_tag dom_id(@line_item_date, :edit) do
    = render "form", quote: @quote, line_item_date: @line_item_date