
%main.container
  %h1 Quote editor
  %p A blazing fast quote editor built with Hotwire
  - if user_signed_in?
    = link_to "View quotes", quotes_path, class: "btn btn--dark"
  - else
    = link_to "Sign in", new_user_session_path, class: "btn btn--dark"